.header {
  font-size: 28px;
  margin-bottom: 8px;
}

.units {
  margin-bottom: 24px;
}

.kilometers,
.lunar {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 16px;
}

.kilometers {
  font-weight: 700;
}

.lunar {
  text-decoration: underline;
}

.order-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.basket {
  position: fixed;
  top: 138px;
  left: 960px;
  width: 150px;
  padding: 16px;
  border-radius: 24px;
  background: #232526;
  line-height: 24px;
}

.basket-header {
  font-size: 18px;
  font-weight: 700;
}

.basket-content {
  margin-bottom: 32px;
}

.loader {
  margin-left: 40px;
}
