.arrow {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  background-clip: content-box;
  height: 2px;
  width: 100%;
  padding-inline: 6px;
  scale: 1 -0.5;
}

.arrow::before {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  left: 0;
  width: 0;
  height: 0;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-left: 0;
  border-right-width: 6px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.arrow::after {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  width: 0;
  height: 0;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-right: 0;
  border-left-width: 6px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
