.header {
  margin-bottom: 24px;
  font-size: 28px;
}

.table {
  font-size: 14px;
}

.th {
  position: sticky;
  top: 0;
  padding: 8px 4px;
  background-color: #000;
}

.td-date {
  text-align: left;
  padding: 8px 0;
  white-space: nowrap;
}

.td {
  text-align: center;
}
